.display-container {
  display: flex;
  max-width: 1300px;
  margin: auto;
  flex-direction: column;
}

.table-title {
  display: flex;
  align-items: center;
}

.library-title {
  margin-top: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  align-content: left;
}

.song-table tr,
td,
th {
  border: solid;
}

.header-row {
  color: whitesmoke;
  background-color: black;
}

.display-rows {
  background-color: whitesmoke;
}
